<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="form-container">
      <%= code %>
      <h2>Sign IN</h2>
      <form action="/login" method="post">
        <div class="form-group">
          <label for="name">Username:</label>
          <input
            type="text"
            name="username"
            id="name"
            placeholder="Enter your username"
            required
            autocomplete="off"
          />
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>

        <button type="submit" class="submit-btn">Sign in</button>
      </form>
    </div>
  </body>
</html>